html {
    height: 100%;
}
.el1, .el2, .el3, .el4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: [col-1-start] 1fr [col-1-end col-2-start] 3fr [col-2-end];
    grid-template-rows: 4.5rem 4fr 4.5rem;
    /* grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem; */
    grid-gap: 0.5rem 0.5rem;
}

/* Using Grid Column and Grid Row */
/* .el1 {
    grid-column: 1 / 3;
}

.el2 {
}
.el3 {
}

.el4 {
    grid-column: col-1-start / col-2-end;
} */

/* Grid Template Areas */
.container {
    grid-template-areas: "header header" "aside main" "footer footer";
}
.el1 {
    grid-area: header;
}
.el2 {
    grid-area: aside;
}
.el3 {
    grid-area: main;
}
.el4 {
    grid-area: footer;
}